fastapi==0.104.1
uvicorn==0.30.6
torch==2.4.0 -f https://download.pytorch.org/whl/cpu
torchaudio==2.4.0 -f https://download.pytorch.org/whl/cpu
torchvision==0.19.0 -f https://download.pytorch.org/whl/cpu
ultralytics==8.2.82
ultralytics-thop==2.0.5
